*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    height: 100vh;
    background-image: url(./bg1.webp);
    
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mainhead{
  
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 40px;
 color: rgb(139, 0, 0);
 text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.container{
display: flex;
align-items: center;
justify-content: center;
margin-top: 80px;
}

.card{
    background-color: aliceblue;
    display: flex;
    margin: 10px;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 300px;
}

.card img{
 display: flex;
 height: 100%;
 width: 100%;
}

.btn{
   display: flex;
   align-items: center;
   justify-content: center;
}

.button{
    background-image: linear-gradient(140deg, #e67255 0%,   darkcyan 50%, #BFD641 75%);
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 300px;
    text-align: center;
    cursor: pointer;
    font-weight: 500;
    font-family:sans-serif;

}